 *{
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
}
.bandera {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 70px 140px 70px;
  margin: 50px 400px;
}

.rojo1 {
  background-color: red;
}

.amarillo {
  background-color: yellow;
}

.rojo2 {
  background-color: red;
}

h1 {
  display: inline-block;
  text-align: center;
  margin: 100px 100px 30px 590px;
}
